table {
    font-family: sans-serif;
    border-spacing: .25em;
    max-width: 25em;
}

table td table {
    width: 100%;
    margin: -.25em;
    margin-left: .25em;
    margin-right: .0em;
}

tr {
    background: #b70;
    border: 1px solid black;
}

tr:nth-child(even) {
    background: #ea0;
}

td {
    padding: .35em .5em;
}

td:first-child {
    font-weight: bold;
    word-wrap: none;
    white-space: nowrap;
}

td:last-child {
    width: 100%;
}